


https://pandas-datareader.readthedocs.io/en/latest/

https://stackoverflow.com/questions/49604224/pulling-stock-information-using-pandas-datareader

In [3]:
!pip install pandas-datareader

WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.
Collecting pandas-datareader
  Using cached pandas_datareader-0.8.1-py2.py3-none-any.whl (107 kB)
Requirement already satisfied: requests>=2.3.0 in /opt/conda/lib/python3.7/site-packages (from pandas-datareader) (2.22.0)
Requirement already satisfied: pandas>=0.21 in /opt/conda/lib/python3.7/site-packages (from pandas-datareader) (0.25.3)
Requirement already satisfied: lxml in /opt/conda/lib/python3.7/site-packages (from pandas-datareader) (4.5.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/conda/lib/python3.7/site-packages (from requests>=2.3.0->pandas-datareader) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/conda/lib/python3.7/site-packages (from requests>=2.3.0->pandas-datareader) (1.25.7)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/conda/lib/python3.7/site-packages (from requests>=2.3.0->pandas-datareader) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.7/site-packages (from requests>=2.3.0->pandas-datareader) (2019.11.28)
Requirement already satisfied: python-dateutil>=2.6.1 in /opt/conda/lib/python3.7/site-packages (from pandas>=0.21->pandas-datareader) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in /opt/conda/lib/python3.7/site-packages (from pandas>=0.21->pandas-datareader) (1.17.5)
Requirement already satisfied: pytz>=2017.2 in /opt/conda/lib/python3.7/site-packages (from pandas>=0.21->pandas-datareader) (2019.3)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas>=0.21->pandas-datareader) (1.14.0)
Installing collected packages: pandas-datareader
Successfully installed pandas-datareader-0.8.1

In [10]:
import pandas as pd
import pandas_datareader as pdr
pdr.get_data_fred('GS10')

            GS10
DATE
2015-04-01  1.94
2015-05-01  2.20
2015-06-01  2.36
2015-07-01  2.32
2015-08-01  2.17
2015-09-01  2.17
2015-10-01  2.07
2015-11-01  2.26
2015-12-01  2.24
2016-01-01  2.09
2016-02-01  1.78
2016-03-01  1.89
2016-04-01  1.81
2016-05-01  1.81
2016-06-01  1.64
2016-07-01  1.50
2016-08-01  1.56
2016-09-01  1.63
2016-10-01  1.76
2016-11-01  2.14
2016-12-01  2.49
2017-01-01  2.43
2017-02-01  2.42
2017-03-01  2.48
2017-04-01  2.30
2017-05-01  2.30
2017-06-01  2.19
2017-07-01  2.32
2017-08-01  2.21
2017-09-01  2.20
2017-10-01  2.36
2017-11-01  2.35
2017-12-01  2.40
2018-01-01  2.58
2018-02-01  2.86
2018-03-01  2.84
2018-04-01  2.87
2018-05-01  2.98
2018-06-01  2.91
2018-07-01  2.89
2018-08-01  2.89
2018-09-01  3.00
2018-10-01  3.15
2018-11-01  3.12
2018-12-01  2.83
2019-01-01  2.71
2019-02-01  2.68
2019-03-01  2.57
2019-04-01  2.53
2019-05-01  2.40
2019-06-01  2.07
2019-07-01  2.06
2019-08-01  1.63
2019-09-01  1.70
2019-10-01  1.71
2019-11-01  1.81
2019-12-01  1.86
2020-01-01  1.76
2020-02-01  1.50

In [6]:
dir(pdr)

['DataReader',
 'Options',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_utils',
 '_version',
 'av',
 'bankofcanada',
 'base',
 'compat',
 'data',
 'econdb',
 'enigma',
 'eurostat',
 'exceptions',
 'famafrench',
 'fred',
 'get_components_yahoo',
 'get_dailysummary_iex',
 'get_data_alphavantage',
 'get_data_enigma',
 'get_data_famafrench',
 'get_data_fred',
 'get_data_moex',
 'get_data_quandl',
 'get_data_stooq',
 'get_data_tiingo',
 'get_data_yahoo',
 'get_data_yahoo_actions',
 'get_iex_book',
 'get_iex_data_tiingo',
 'get_iex_symbols',
 'get_last_iex',
 'get_markets_iex',
 'get_nasdaq_symbols',
 'get_quote_yahoo',
 'get_recent_iex',
 'get_records_iex',
 'get_summary_iex',
 'get_tops_iex',
 'iex',
 'io',
 'moex',
 'nasdaq_trader',
 'oecd',
 'quandl',
 'robinhood',
 'stooq',
 'tiingo',
 'yahoo']

In [7]:
pdr.get_data_yahoo('AAPL')

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2015-03-11,124.769997,122.110001,124.750000,122.239998,68939000.0,112.492523
2015-03-12,124.900002,121.629997,122.309998,124.449997,48362700.0,114.526291
2015-03-13,125.400002,122.580002,124.400002,123.589996,51827300.0,113.734856
2015-03-16,124.949997,122.870003,123.879997,124.949997,35874300.0,114.986427
2015-03-17,127.320000,125.650002,125.900002,127.040001,51023100.0,116.909760
...,...,...,...,...,...,...
2020-03-02,301.440002,277.720001,282.279999,298.809998,85349300.0,298.809998
2020-03-03,304.000000,285.799988,303.670013,289.320007,79868900.0,289.320007
2020-03-04,303.399994,293.130005,296.440002,302.739990,54794600.0,302.739990
2020-03-05,299.549988,291.410004,295.519989,292.920013,46893200.0,292.920013
2020-03-06,290.820007,281.230011,282.000000,289.029999,56491800.0,289.029999

In [9]:
pdr.get_data_yahoo('AOT.BK')

                 High        Low       Open      Close      Volume  Adj Close
Date
2015-03-11  29.799999  29.299999  29.500000  29.700001  36721000.0  18.917336
2015-03-12  29.799999  29.500000  29.799999  29.600000  12997000.0  18.853640
2015-03-13  29.900000  29.400000  29.900000  29.500000  12435000.0  18.789944
2015-03-16  29.600000  29.299999  29.500000  29.400000  16430000.0  18.726250
2015-03-17  29.500000  29.000000  29.500000  29.100000  26952000.0  18.535168
...               ...        ...        ...        ...         ...        ...
2020-03-03  62.750000  61.750000  62.250000  62.500000  40120400.0  62.500000
2020-03-04  63.750000  61.750000  62.000000  63.250000  34917300.0  63.250000
2020-03-05  65.000000  63.250000  63.500000  64.250000  47174200.0  64.250000
2020-03-06  64.000000  62.750000  63.500000  63.500000  24235600.0  63.500000
2020-03-09  63.500000  60.000000  62.250000  60.250000  37285100.0  60.250000

[1220 rows x 6 columns]

# All stock data from Yahoo

In [16]:
import datetime as dt

start = dt.datetime(2014,1,1)

pdr.get_data_yahoo('AOT.BK',start=start)

                 High    Low       Open  Close       Volume  Adj Close
Date
2014-01-02  16.049999  14.65  16.049999  14.65   69637000.0   8.198195
2014-01-03  14.950000  14.25  14.300000  14.50  121443000.0   8.114254
2014-01-06  14.400000  13.75  14.400000  14.25  103236000.0   7.974353
2014-01-07  15.150000  14.35  14.400000  15.15  112178000.0   8.477996
2014-01-08  15.100000  14.50  15.050000  14.50  105933000.0   8.114254
...               ...    ...        ...    ...          ...        ...
2020-03-03  62.750000  61.75  62.250000  62.50   40120400.0  62.500000
2020-03-04  63.750000  61.75  62.000000  63.25   34917300.0  63.250000
2020-03-05  65.000000  63.25  63.500000  64.25   47174200.0  64.250000
2020-03-06  64.000000  62.75  63.500000  63.50   24235600.0  63.500000
2020-03-09  63.500000  60.00  62.250000  60.25   37285100.0  60.250000

[1511 rows x 6 columns]

In [14]:
stocks = pd.read_csv("SET_symbols.csv")
stocks

,Unnamed: 0,symbol,exchange,industry,sector,name
0,7UP,7UP,SET,ทรัพยากร,พลังงานและสาธารณูปโภค,บริษัท เซเว่น ยูทิลิตี้ส์ แอนด์ พาวเวอร์ จำกัด...
1,A,A,SET,อสังหาริมทรัพย์และก่อสร้าง,พัฒนาอสังหาริมทรัพย์,บริษัท อารียา พรอพเพอร์ตี้ จำกัด (มหาชน)
2,AAV,AAV,SET,บริการ,ขนส่งและโลจิสติกส์,บริษัท เอเชีย เอวิเอชั่น จำกัด (มหาชน)
3,ABPIF,ABPIF,SET,ทรัพยากร,พลังงานและสาธารณูปโภค,กองทุนรวมโครงสร้างพื้นฐานโรงไฟฟ้า อมตะ บี.กริม...
4,ACC,ACC,SET,สินค้าอุปโภคบริโภค,ของใช้ในครัวเรือนและสำนักงาน,บริษัท แอดวานซ์ คอนเนคชั่น คอร์ปอเรชั่น จำกัด ...
...,...,...,...,...,...,...
568,WP,WP,SET,ทรัพยากร,พลังงานและสาธารณูปโภค,บริษัท ดับบลิวพี เอ็นเนอร์ยี่ จำกัด (มหาชน)
569,WPH,WPH,SET,บริการ,การแพทย์,บริษัท โรงพยาบาลวัฒนแพทย์ ตรัง จำกัด (มหาชน)
570,YCI,YCI,SET,สินค้าอุตสาหกรรม,ปิโตรเคมีและเคมีภัณฑ์,บริษัท ยงไทย จำกัด (มหาชน)
571,ZEN,ZEN,SET,เกษตรและอุตสาหกรรมอาหาร,อาหารและเครื่องดื่ม,บริษัท เซ็น คอร์ปอเรชั่น กรุ๊ป จำกัด (มหาชน)
572,ZMICO,ZMICO,SET,ธุรกิจการเงิน,เงินทุนและหลักทรัพย์,บริษัทหลักทรัพย์ ซีมิโก้ จำกัด (มหาชน)

In [18]:
for s in stocks['symbol'].values:
    print(s)
    try:
        data = pdr.get_data_yahoo('%s.BK' % s,start=start)
        outfile = "YahooFinance/%s.csv" % s
        data.to_csv(outfile)
    except Exception as e:
        print("Error: %s %s" % (s, str(e)))

7UP
A
AAV
ABPIF
ACC
ADVANC
AEC
AEONTS
AFC
AH
AHC
AI
AIMCG
AIMIRT
AIT
AJ
AJA
AKR
ALLA
ALT
ALUCON
AMANAH
AMATA
AMATAR
AMATAV
AMC
ANAN
AOT
AP
APCO
APCS
APURE
AQ
AQUA
AS
ASAP
ASEFA
ASIA
ASIAN
ASIMAR
ASK
ASP
AWC
AYUD
B
B52
BA
BAFS
BAM
BANPU
BAT-3K
BAY
BBL
BCH
BCP
BCT
BDMS
BEAUTY
BEC
BEM
BFIT
BGC
BGRIM
BH
BIG
BJC
BJCHI
BKD
BKI
BLA
BOFFICE
BPP
BR
BROCK
BRR
BRRGIF
BSBM
BTNC
BTS
BTSGIF
BUI
BWG
B-WORK
Error: B-WORK No data fetched for symbol B-WORK.BK using YahooDailyReader
CBG
CCET
CCP
CEN
CENTEL
CFRESH
CGD
CGH
CHARAN
CHG
CHOTI
CI
CIMBT
CITY
CK
CKP
CM
CMAN
CMR
CNS
CNT
COL
COTTO
CPALL
CPF
CPH
CPI
CPL
CPN
CPNCG
CPNREIT
CPT
CPTGF
CPW
CRANE
CSC
CSP
CSR
CSS
CTW
CWT
DCC
DCON
DDD
DELTA
DEMCO
DIF
DOHOME
DREIT
DRT
DTCI
EA
EASON
EASTW
ECL
EE
EGATIF
EGCO
EIC
EKH
EMC
EPCO
EPG
ERW
ERWPF
ESSO
ESTAR
EVER
FANCY
FE
FMT
FN
FNS
FORTH
FPT
FSS
FTE
FTREIT
FUTUREPF
GAHREIT
GBX
GC
GEL
GENCO
GFPT
GGC
GIFT
GJS
GL
GLAND
GLOBAL
GLOCON
GPI
GRAMMY
GRAND
GREEN
GSTEEL
GULF
GUNKUL
GVREIT
GYT
HANA
HFT
HMPRO
HPF
HREIT
HTC
HTECH
HUMAN
ICC
ICHI
IFEC
Error: IFEC No data fetched for symbol IFEC.BK using YahooDailyReader
IFS
IHL
III
ILINK
ILM
IMPACT
INET
INGRS
INOX
INSURE
INTUCH
IRC
IRPC
IT
ITD
IVL
J
JAS
JASIF
JCK
JCT
JMART
JMT
JTS
JUTHA
JWD
KAMART
KBANK
KBS
KCAR
KCE
KDH
KGI
KKC
KKP
KSL
KTB
KTC
KTECH
KWC
KWG
KYE
L&E
LALIN
LANNA
LEE
LH
LHFG
LHHOTEL
LHK
LHSC
LOXLEY
LPH
LPN
LRH
LST
LUXF
M
MACO
MAJOR
MAKRO
MALEE
MANRIN
MATCH
MATI
MAX
MBK
MBKET
MC
M-CHAI
MCOT
MCS
MDX
MEGA
METCO
MFC
MFEC
MIDA
M-II
MILL
MINT
MIT
MJD
MK
ML
MNIT2
MNRF
MODERN
MONO
M-PAT
Error: M-PAT No data fetched for symbol M-PAT.BK using YahooDailyReader
MPIC
MSC
M-STOR
MTC
MTI
NC
NCH
NEP
NER
NEW
NEX
NFC
NKI
NNCL
NOBLE
NOK
NSI
NTV
NVD
NWR
NYT
OCC
OGC
OHTL
OISHI
ORI
OSP
PACE
PAE
Error: PAE No data fetched for symbol PAE.BK using YahooDailyReader
PAF
PAP
PATO
PB
PCSGH
PDI
PDJ
PE
PERM
PF
PG
PK
PL
PLANB
PLAT
PLE
PM
PMTA
POLAR
POMPUI
POPF
PORT
POST
PPF
PPP
PPPM
PR9
PRAKIT
PREB
PRECHA
PRG
PRIME
PRINC
PRM
PRO
PSH
PSL
PT
PTG
PTL
PTT
PTTEP
PTTGC
PYLON
Q-CON
QHPF
RAM
RATCH
RBF
RCL
RICH
RICHY
RJH
RML
ROCK
ROH
ROJNA
RPC
RSP
S
S & J
Error: S & J No data fetched for symbol S & J.BK using YahooDailyReader
S11
SABINA
SAFARI
SAM
SAMART
SAMCO
SAMTEL
SAPPE
SAT
SAUCE
SAWAD
SC
SCB
SCC
SCCC
SCG
SCI
SCN
SCP
SDC
SEAFCO
SE-ED
SENA
SF
SFLEX
SFP
SGP
SHANG
SIAM
SINGER
SIRI
SIRIP
SIS
SISB
SITHAI
SKE
SKN
SLP
SMIT
SMK
SMPC
SMT
SNC
SNP
SOLAR
SORKON
SPACK
SPALI
SPC
SPCG
SPF
SPG
SPI
SPRC
SQ
SRICHA
SRIPANWA
SSC
SSF
SSI
Error: SSI 'Date'
SSP
SSSC
SST
SSTRT
STA
STANLY
STEC
STHAI
STPI
SUC
SUPER
SUPEREIF
SUSCO
SUTHA
SVH
SVI
SVOA
SYMC
SYNEX
SYNTEC
TAE
TASCO
TBSP
TC
TCAP
TCC
TCCC
TCJ
TCMC
TEAM
TEAMG
TFFIF
TFG
TFI
TFMAMA
TGPRO
TH
THAI
THANI
THCOM
THE
THG
THIP
THL
Error: THL No data fetched for symbol THL.BK using YahooDailyReader
THRE
THREL
TIP
TIPCO
TISCO
TIW
TK
TKN
TKS
TKT
TLHPF
TMB
TMD
TMT
TNITY
TNL
TNPC
TNPF
TNR
TOA
TOG
TOP
TOPP
TPA
TPBI
TPCORP
TPIPL
TPIPP
TPOLY
TPP
TPRIME
TQM
TR
TRC
TRITN
TRU
TRUBB
TRUE
TSC
TSE
TSI
TSR
TSTE
TSTH
TTA
TTCL
TTI
TTT
TTW
TU
TVI
TVO
TWP
TWPC
TWZ
TYCN
U
UAC
UMI
UNIQ
UOBKH
UP
UPF
UPOIC
URBNPF
UT
UTP
UV
VARO
VGI
VI
VIBHA
VIH
VNG
VNT
VPO
VRANDA
WACOAL
WAVE
WG
WHA
WHABT
WHART
WHAUP
WICE
WIIK
WIN
WORK
WORLD
WP
WPH
YCI
Error: YCI No data fetched for symbol YCI.BK using YahooDailyReader
ZEN
ZMICO